
*{
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
	margin-top: -2px;
	display: block;
}

body, html {
	overflow: hidden;
	position: relative;
	max-height:  100vh;
	height: 100vh;

}
.mrow {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	max-height:  100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-animation:  bigtrack 50s infinite ease;
	        animation:  bigtrack 50s infinite ease;
}
.w20 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 20%;
	height: 100vh;
	max-height: 100vh;
	position: relative;
}
.sl {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.sl1 {top: -10vw;}
.sl2 {top: -20vw;}
.sl3 {top: -35vw;}
.sl4 {top: -45vw;}
.sl5 {top: -50vw;}
.bgblock {
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 3.5vw;
	height: 20vw;
	width: 100%;
	font-family: Open sans, Serif;
	font-weight: 600;
	text-transform: uppercase;
	background-image: url(4.jpg);
	background-size: contain;
	color: transparent;

}
.sl1 .bgblock:nth-child(2n) {background-image: url(9.jpg); -webkit-animation:  text1 15s infinite ease; animation:  text1 15s infinite ease;}
.sl2 .bgblock:nth-child(2n) {background-image: url(6.jpg); -webkit-animation:  text3 19s infinite ease; animation:  text3 19s infinite ease;}
.sl2 .bgblock:nth-child(2n-1) {background-image: url(5.jpg); -webkit-animation:  text2 17s infinite ease; animation:  text2 17s infinite ease;}
.sl3 .bgblock:nth-child(2n-1) {background-image: url(7.jpg); -webkit-animation:  text4 10s infinite ease; animation:  text4 10s infinite ease;}
.sl3 .bgblock:nth-child(2n) {background-image: url(6.jpg); -webkit-animation:  text1 18s infinite ease; animation:  text1 18s infinite ease;}
.sl4 .bgblock:nth-child(2n-1) {background-image: url(5.jpg); -webkit-animation:  text3 15s infinite ease; animation:  text3 15s infinite ease;}
.sl4 .bgblock:nth-child(2n) {background-image: url(8.png); -webkit-animation:  text2 21s infinite ease; animation:  text2 21s infinite ease;}
.sl5 .bgblock:nth-child(2n) {background-image: url(7.jpg); -webkit-animation:  text4 22s infinite ease; animation:  text4 22s infinite ease;}
.sl5 .bgblock:nth-child(2n-1) { -webkit-animation:  text2 8s infinite ease; animation:  text2 8s infinite ease;}
.ten {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(0,0,0, .3);
	color:  transparent;
	z-index: 3;
}
.bk {
	font-size: 13vw;
	color:  red;
	position: fixed;
	z-index: 5;
	top:  50%;
	left: 50%;
	-webkit-transform:  translate(-50%, -50%);
	    -ms-transform:  translate(-50%, -50%);
	        transform:  translate(-50%, -50%);
	z-index: 999;
	font-family: Open sans, Serif;
	font-weight: 900;
	width: 100%;
	text-align: center;

}
.bk .bigtext{
	display: block;
	width: 100%;
	z-index: 6;	
	position: relative;
}
.bigtext span{
	display: inline-block;
	background-image: url(5.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	 color: transparent;
	 -webkit-background-clip: text;
	 background-clip: text;
	 z-index: 7;
}


@-webkit-keyframes bigtrack {
	50% {top: -2000px}
	100% {top: 0px}
}


@keyframes bigtrack {
	50% {top: -2000px}
	100% {top: 0px}
}
@-webkit-keyframes text1 {
	0% {background-image: url(5.jpg);}
	20% {background-image: url(4.jpg);}
	40% {background-image: url(3.png);}
	60% {background-image: url(8.png);}
	80% {background-image: url(6.jpg);}
}
@keyframes text1 {
	0% {background-image: url(5.jpg);}
	20% {background-image: url(4.jpg);}
	40% {background-image: url(3.png);}
	60% {background-image: url(8.png);}
	80% {background-image: url(6.jpg);}
}
@-webkit-keyframes text2 {
	0% {background-image: url(3.png);}
	20% {background-image: url(4.jpg);}
	40% {background-image: url(5.jpg);}
	60% {background-image: url(8.png);}
	80% {background-image: url(9.jpg);}
}
@keyframes text2 {
	0% {background-image: url(3.png);}
	20% {background-image: url(4.jpg);}
	40% {background-image: url(5.jpg);}
	60% {background-image: url(8.png);}
	80% {background-image: url(6.jpg);}
}
@-webkit-keyframes text3 {
	0% {background-image: url(4.jpg);}
	20% {background-image: url(3.png);}
	40% {background-image: url(9.jpg);}
	60% {background-image: url(5.jpg);}
	80% {background-image: url(6.jpg);}
}
@keyframes text3 {
	0% {background-image: url(4.jpg);}
	20% {background-image: url(3.png);}
	40% {background-image: url(6.jpg);}
	60% {background-image: url(5.jpg);}
	80% {background-image: url(9.jpg);}
}
@-webkit-keyframes text4 {
	0% {background-image: url(5.jpg);}
	20% {background-image: url(3.png);}
	40% {background-image: url(6.jpg);}
	60% {background-image: url(5.jpg);}
	80% {background-image: url(4.jpg);}
}
@keyframes text4 {
	0% {background-image: url(5.jpg);}
	20% {background-image: url(3.png);}
	40% {background-image: url(6.jpg);}
	60% {background-image: url(8.png);}
	80% {background-image: url(4.jpg);}
}
.bigtext span:nth-child(1) {-webkit-animation: text1  1s infinite ease-in-out;animation: text1  1s infinite ease-in-out;}
.bigtext span:nth-child(2) {-webkit-animation: text2  2s infinite ease-in-out;animation: text2  2s infinite ease-in-out;}
.bigtext span:nth-child(3) {-webkit-animation: text3  1s infinite ease-in-out;animation: text3  1s infinite ease-in-out;}
.bigtext span:nth-child(4) {-webkit-animation: text4  2s infinite ease-in-out;animation: text4  2s infinite ease-in-out;}
.bigtext span:nth-child(5) {-webkit-animation: text1  1s infinite ease-in-out;animation: text1  1s infinite ease-in-out;}
.bigtext span:nth-child(6) {-webkit-animation: text2  2s infinite ease-in-out;animation: text2  2s infinite ease-in-out;}
.bigtext span:nth-child(7) {-webkit-animation: text3  1s infinite ease-in-out;animation: text3  1s infinite ease-in-out;}
.bigtext span:nth-child(8) {-webkit-animation: text4  2s infinite ease-in-out;animation: text4  2s infinite ease-in-out;}
.bigtext span:nth-child(9) {-webkit-animation: text1  1s infinite ease-in-out;animation: text1  1s infinite ease-in-out;}
.bigtext span:nth-child(10) {-webkit-animation: text2  2s infinite ease-in-out;animation: text2  2s infinite ease-in-out;}
.bigtext span:nth-child(11) {-webkit-animation: text4  1s infinite ease-in-out;animation: text4  1s infinite ease-in-out;}
.bigtext span:nth-child(12) {-webkit-animation: text3  2s infinite ease-in-out;animation: text3  2s infinite ease-in-out;}
.bigtext span:nth-child(13) {-webkit-animation: text2  1s infinite ease-in-out;animation: text2  1s infinite ease-in-out;}
.bigtext span:nth-child(14) {-webkit-animation: text1  2s infinite ease-in-out;animation: text1  2s infinite ease-in-out;}



/* UTILITIES */
*{
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
	margin-top: -2px;
	display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: cursive;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

.outer {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(0,0,0, .3);
	color:  transparent;
	z-index: 3;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #444444;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #c0c0c0;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: #808080;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #979797;
   }
   .services:hover .dropdown {
    display: block;
   }


/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
	opacity: 50%;
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }




.textplace {
	top: 140px;
	font-size: xx-large;
	position: relative;
	left: 10%;
	color: white;
}
.textplace .intro {
	color: rgba(255, 208, 0, 0.986);
	font-size: 45px;
}

.aboutxd {
	top: 250px;
	font-size: 35px;
	position: relative;
	left: 10%;
	color: white;
}
.aboutxd .description {
	color: rgb(231, 201, 31);
	
}
/* .maingallery {
	left: 30%;
	top: 60px;
	position: relative;
} */

footer {
	bottom: -540px;
	position: relative;
    text-align: center;
    padding: 3px;
    background-color: rgba(109, 108, 108, 0);
    color: white;
  }

footer .webdev {
	color: rgb(196, 106, 73)
}
footer .designers {
	color: rgb(196, 106, 73)
}

footer .contact {
	color: rgb(196, 106, 73)
}

